include ../mixin/treeCategory.pug
header(class=``)
     div(class="container")
          div(class="py-[24px]  flex gap-x-[40px] items-center justify-center lg:justify-between border-b-[1px] border-b-[#0000001A]")
               div(class="flex items-center gap-x-[16px]")
                    button(class="fa-solid fa-bars hidden lg:block")
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="800" play iterations="1")
                         a(href='/' class="text-[#000000] font-[700] text-[32px]") DACS
               div(class="flex gap-x-[24px] items-center")
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="1000" play iterations="1")
                         div(class="group flex gap-x-[4px] items-center lg:hidden relative")
                              div(class="text-[#000000] font-[400] text-[16px]") Sản phẩm
                              i(class="fa-solid fa-chevron-down text-[16px]")
                              sl-menu(class=`hidden group-hover:block w-max absolute top-[20px] left-0 right-0 mx-auto z-[100]`)
                                   +treeCategory(treeCategories)
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="1200" play iterations="1")
                         a(onclick='showLoader()' href = `${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.INDEX}?sapxep=danggiam-true`  class="text-[#000000] font-[400] text-[16px] lg:hidden") Đang giảm
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="1400" play iterations="1")
                         a(onclick='showLoader()' href = `${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.INDEX}?sapxep=danggiam-true` class="text-[#000000] font-[400] text-[16px] lg:hidden") Sản phẩm mới
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="1600" play iterations="1")
                         div(class="text-[#000000] font-[400] text-[16px] lg:hidden") Thương hiệu
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="1800" play iterations="1")
                    form(class="lg:hidden bg-[#F0F0F0] px-[16px] py-[12px] flex items-center gap-x-[12px] rounded-[62px] flex-1 relative" form-search = `${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.SEARCH}`)
                         sl-animation(name="fadeInDown" easing="ease-in-out" duration="1900" play iterations="1")
                              input(value = key ? key : '' type="text" placeholder="Tìm kiếm sản phẩm..." class="bg-transparent outline-none w-full" name='name')
                         button(type='submit' class="fa-solid fa-magnifying-glass text-[24px] text-[#00000066] order-first")
                    //- div(class=`absolute top-[60px] left-[30px] bg-[white] rounded-[20px] w-full flex flex-col gap-y-[10px] z-[99]`)
                    //-      div(class=`font-bold text-[20px] py-[10px]`)  Kết quả tìm kiếm
                    //-      div(class=`flex flex-col gap-y-[15px] p-[10px] h-[70vh] overflow-y-auto`) 
                    //-           div(class=`grid grid-cols-12 gap-x-[15px]`)
                    //-                div(class=`col-span-2 h-auto`)
                    //-                     img(src="https://res.cloudinary.com/djp6njpi7/image/upload/v1738219965/Kim%20Quang/2.jpg" alt="" class=`w-full h-auto rounded-[10px]`)
                    //-                div(class=`col-span-10 grid grid-rows-3`)
                    //-                     sl-tooltip(content='fdgvfgd' class=`flex items-center`)
                    //-                          div(class=`font-bold line-clamp-1`) Áo T shirt họa tiết in Determination phối lưới FSTS053zxczxczxczxczxc
                    //-                     div(class=`flex items-center gap-x-[15px]`)
                    //-                          sl-rating(precision="0.5" value="5" readonly)
                    //-                          div(class=`text-[12px] sm:text-[10px] text-gray-500`) 4.5/5
                    //-                     div(class=`flex items-center gap-x-[20px]`) 
                    //-                          sl-format-number(class="text-[20px] sm:text-[18px] font-[500] text-[#000000]" value=('10000') type="currency" currency="VND" lang="vi-VI")
                    //-                          sl-format-number(class="text-[14px] sm:text-[18px] font-[500] text-[#00000066] line-through flex items-center" value=('10000') type="currency" currency="VND" lang="vi-VI")

                    //-                          div(class=`w-[50px] h-[24px] text-[#FF3333] text-[10px] font-[500] bg-[#FF33331A] rounded-[50px] flex items-center justify-center`) -10%
                    //-           div(class=`grid grid-cols-12 gap-x-[15px]`)
                    //-                div(class=`col-span-2 h-auto`)
                    //-                     img(src="https://res.cloudinary.com/djp6njpi7/image/upload/v1738219965/Kim%20Quang/2.jpg" alt="" class=`w-full h-auto rounded-[10px]`)
                    //-                div(class=`col-span-10 grid grid-rows-3`)
                    //-                     sl-tooltip(content='fdgvfgd' class=`flex items-center`)
                    //-                          div(class=`font-bold line-clamp-1`) Áo T shirt họa tiết in Determination phối lưới FSTS053zxczxczxczxczxc
                    //-                     div(class=`flex items-center gap-x-[15px]`)
                    //-                          sl-rating(precision="0.5" value="5" readonly)
                    //-                          div(class=`text-[12px] sm:text-[10px] text-gray-500`) 4.5/5
                    //-                     div(class=`flex items-center gap-x-[20px]`) 
                    //-                          sl-format-number(class="text-[20px] sm:text-[18px] font-[500] text-[#000000]" value=('10000') type="currency" currency="VND" lang="vi-VI")
                    //-                          sl-format-number(class="text-[14px] sm:text-[18px] font-[500] text-[#00000066] line-through flex items-center" value=('10000') type="currency" currency="VND" lang="vi-VI")

                    //-                          div(class=`w-[50px] h-[24px] text-[#FF3333] text-[10px] font-[500] bg-[#FF33331A] rounded-[50px] flex items-center justify-center`) -10%

               div(class="flex gap-x-[14px]")
                    sl-icon(name="search" class="text-[24px] hidden lg:block")
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="1800" play iterations="1")
                         - if(INFOR_CUSTOMER)
                              button(onclick = 'openDrawer()' href=`${ROUTERS.CLIENT.CART.PATH}${ROUTERS.CLIENT.CART.INDEX}/${INFOR_CUSTOMER.username}` get-cart = `${ROUTERS.CLIENT.CART.PATH}${ROUTERS.CLIENT.CART.GET_CART}/${INFOR_CUSTOMER.id}` class=`relative`) 
                                   sl-icon(name="cart2" class="text-[24px]")
                                   - if(CART > 0)
                                        sl-badge(variant="danger" pill class=`absolute top-[-8px] right-[-10px]`) #{CART}
                         - else
                              a(href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.LOGIN}`) 
                                   sl-icon(name="cart2" class="text-[24px]")
                    sl-animation(name="fadeInDown" easing="ease-in-out" duration="2000" play iterations="1")
                         div(class="relative", data-twe-dropdown-ref)
                              a#dropdownMenuButton2(class="" href="#" type="button", data-twe-dropdown-toggle-ref, aria-expanded="false", data-twe-ripple-init, data-twe-ripple-color="light")
                                   sl-icon(name="person" class="text-[24px]")

                              ul(class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark" aria-labelledby="dropdownMenuButton2", data-twe-dropdown-menu-ref)
                                   - if(INFOR_CUSTOMER)
                                        li
                                             a(class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25" href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER}` , data-twe-dropdown-item-ref)
                                                  div(class=`flex items-center gap-x-[10px]`) 
                                                       sl-icon(name="person-circle")
                                                       div #{INFOR_CUSTOMER ? INFOR_CUSTOMER.fullname : 'Thông tin cá nhân'}
                                        li
                                             a(class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25" href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER_UPDATE_INFOR}${ROUTERS.CLIENT.CUSTOMER.INFOR_CUSTOMER_UPDATE_PASSWORD}` , data-twe-dropdown-item-ref)
                                                  div(class=`flex items-center gap-x-[10px]`) 
                                                       sl-icon(name="shield-lock")
                                                       div Đổi mật khẩu

                                   - if(!INFOR_CUSTOMER)
                                        li
                                             a(class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25" href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.LOGIN}`, data-twe-dropdown-item-ref)
                                                  div(class=`flex items-center gap-x-[10px]`) 
                                                       sl-icon(name="box-arrow-right")
                                                       div Đăng nhập
                                        li
                                             a(class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25" href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.REGISTER}`, data-twe-dropdown-item-ref)
                                                  div(class=`flex items-center gap-x-[10px]`) 
                                                       sl-icon(name="person-plus")
                                                       div Đăng ký
                                   - if(INFOR_CUSTOMER)
                                        li
                                             a(class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25" href=`${ROUTERS.CLIENT.CUSTOMER.PATH}${ROUTERS.CLIENT.CUSTOMER.LOGOUT}`, data-twe-dropdown-item-ref)
                                                  div(class=`flex items-center gap-x-[10px]`) 
                                                       sl-icon(name="box-arrow-left")
                                                       div Đăng xuất