extends ../../layouts/layouts.pug

block css
     link(rel="stylesheet" href="/client/css/home/index.css")
block script
     script(src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js") 
     script(type="module" src="/client/js/home/index.js") 

block main
     //- div(class="py-[24px]")
     //-      div(class="container")
     //-           div(class="flex items-center gap-x-[40px] lg:justify-between md:justify-between")
     //-                div(class="flex gap-x-[16px] items-center")
     //-                     i(class="fa-solid fa-bars text-[25px] hidden md:block lg:block sm:block sm:size-[24px]")
     //-                     div(class="text-[#000000] font-[700] text-[32px] sm:text-[27px] ") DACS
     //-                div(class="flex gap-x-[24px] items-center lg:hidden")
     //-                     div(class="flex grap-x-[4px] items-center")
     //-                          div(class="text-[#000000] font-[400] text-[16px]") Sản phẩm
     //-                          i(class="fa-solid fa-chevron-down")
     //-                     div(class="text-[#000000] font-[400] text-[16px]") Đang giảm
     //-                     div(class="text-[#000000] font-[400] text-[16px]") Sản phẩm mới
     //-                     div(class="text-[#000000] font-[400] text-[16px]") Thương hiệu
     //-                div(class="bg-[#F0F0F0] flex items-center gap-x-[12px] py-[12px] px-[16px] rounded-[62px] flex-1 lg:hidden md:hidden")
     //-                     input(type="text" placeholder="Tìm kiếm sản phẩm..." class="bg-transparent outline-none w-full")
     //-                     button(class="fa-solid fa-magnifying-glass text-[24px] text-[#00000066] order-first")
     //-                div(class="flex gap-x-[14px]")
     //-                     i(class="fa-solid fa-magnifying-glass text-[24px] hidden md:block lg:block sm:block")
     //-                     i(class="fa-solid fa-cart-shopping text-[24px]")
     //-                     i(class="fa-regular fa-circle-user text-[24px]")
     div(class="bg-[#F2F0F1]  overflow-hidden ")
          div(class="container ")
               div(class="grid grid-cols-2 items-center relative lg:grid-cols-1")
                    div(class="z-[1]")
                         sl-animation(name="fadeInDown" easing="ease-in-out" duration="1000" play iterations="1")
                              h1(class="w-[706px]  text-[#000000] text-[64px] font-[700] lg:w-full md:text-[36px]")
                                   | Chuyên thời trang phong cách, hiện đại
                         sl-animation(name="fadeInDown" easing="ease-in-out" duration="1500" play iterations="1")
                              div(class="w-[545px] mt-[64px] lg:w-full sm:text-[14px] ") Chúng tôi chuyên cung cấp những loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                         sl-animation(name="fadeInDown" easing="ease-in-out" duration="2000" play iterations="1")
                              button(type="button" class=`mt-[32px] bg-[#000000] text-[#FFFFFF] text-[16px] font-[400] rounded-[62px] md:w-full py-[16px] px-[63px]`) Mua ngay
                         div(class="mt-[48px] flex flex-cols-5 gap-x-[20px] items-center justify-center sm:grid sm:grid-cols-5 sm:place-items-center")
                              sl-animation(name="fadeInDown" easing="ease-in-out" duration="2500" play iterations="1")
                                   div(class="flex flex-col justify-center items-center sm:col-span-2")
                                        div(class="text-[40px] font-[400] md:text-[24px]") 200+
                                        div(class="text-[16px] font0-[400] text-[#00000099] md:text[12px]") Thương hiệu quốc tế
                                   div(class="h-[70px] w-0 border-[1px] border-[#0000001A] ")
                              sl-animation(name="fadeInDown" easing="ease-in-out" duration="2800" play iterations="1")
                                   div(class="w-auto flex flex-col justify-center items-center sm:col-span-2")
                                        div(class="text-[40px] font-[400] md:text-[24px]") 2,000+
                                        div(class="text-[16px] font-[400] text-[#00000099] md:text-[12px]") Sản phẩm chất lượng
                                   div(class="h-[70px] w-0 border-[1px] border-[#0000001A] sm:hidden")
                              sl-animation(name="fadeInDown" easing="ease-in-out" duration="3200" play iterations="1")
                                   div(class="flex flex-col justify-center items-center sm:col-span-5")
                                        div(class="text-[40px] font-[400] md:text-[24px]") 30,000+
                                        div(class="text-[16px] font0-[400] text-[#00000099] md:text-[12px]") Khách hàng
                    div(class="mt-auto z-[0]")
                         sl-animation(name="fadeInRight" easing="ease-in-out" duration="2000" play iterations="1")
                              img(src="https://res.cloudinary.com/djp6njpi7/image/upload/v1742114656/Copy_vyajyf.png" class="")
     div(class="bg-[#000000]")
          div(class="container overflow-hidden flex justify-between py-[44px] lg:grid lg:grid-cols-3 lg:place-items-center lg:gap-x-[34px]")
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="1000" play iterations="1")
                    div(class="text-white text-[40px] font-bold md:text-[35px] sm:text-[20px] ") VERSACE
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="1400" play iterations="1")
                    div(class="text-white text-[40px] font-bold md:text-[35px] sm:text-[20px] ") ZARA
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="1800" play iterations="1")
                    div(class="text-white text-[40px] font-bold md:text-[35px] sm:text-[20px] ") GUCCI
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="2200" play iterations="1")
                    div(class="text-white text-[40px] font-bold lg:hidden") PRADA
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="2600" play iterations="1")
                    div(class="text-white text-[40px] font-bold lg:hidden") Calvin Klei
               div(class="hidden lg:block col-span-3 lg:flex  gap-x-[34px]  ")
                    div(class="text-white text-[40px] md:text-[35px] sm:text-[20px] font-bold") PRADA
                    div(class="text-white text-[40px] md:text-[35px] sm:text-[20px] font-bold") Calvin Klein
     - if(products && products.length > 0)
          div(class="container")
               sl-animation(name="fadeInDown" easing="ease-in-out" duration="1000" play iterations="1")
                    div(class="w-fit text-[48px] my-[60px] mx-auto text-center") Sản phẩm mới
          div(class="container")
               //- line-clamp-1 grid grid-cols-4 gap-[20px] xl:grid-cols-3 xl:place-items-stretch md:grid-cols-2 md:place-items-stretch
               sl-carousel(class="h-[500px]" mouse-dragging autoplay loop pagination slides-per-page="4" slides-per-move="1")
                    // Item 1
                    each it, i in products
                         - if(it.priceNew)
                              sl-carousel-item(class="bg-none")
                                   div(class=`group`)
                                        - if(it.img_main.length == 0)
                                             a(href=`${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.DETAIL}/${it.slug}`) 
                                                  img(src="https://cdn-icons-png.flaticon.com/512/11542/11542598.png" alt="Image Error" class="w-full aspect-square object-cover rounded-[16px]")
                                        - else if(it.img_main.length == 1)
                                             sl-animation(name="zoomIn" easing="easeOutQuint" duration="2000" class=`` play iterations='1')
                                                  a(href=`${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.DETAIL}/${it.slug}`) 
                                                       img(src=it.img_main[0], alt=it.name, class="duration-300 hover:scale-110 w-full aspect-square object-cover rounded-[16px]")
                                        - else
                                             sl-animation(name="zoomIn", img-product-main easing="easeOutQuint" duration="2000" class=`group-hover:hidden` play iterations='1')
                                                  img(src=it.img_main[0], alt=it.name, class="w-full aspect-square object-cover rounded-[16px]")
                                             sl-animation(name="zoomIn", img-product-sub easing="easeOutQuint" duration="2000" class=`hidden group-hover:block` )
                                                  img(src=it.img_main[1], alt=it.name, class="w-full aspect-square object-cover rounded-[16px]")
                                             //- img(src=it.img_main[1], alt="T-shirt" class="hidden  group-hover:block w-full aspect-square object-cover rounded-[16px]")
                                   a(href=`${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.DETAIL}/${it.slug}` class="text-[18px] sm:text-[16px] text-[#000000] font-[500] mt-[12px] mb-[6px] md:text-[16px] line-clamp-1")
                                        sl-tooltip(content=it.name)
                                             div #{it.name}
                                   div(class="flex items-center mb-[6px]")
                                        div(class="text-yellow-500 flex space-x-[2px]")
                                             span ⭐
                                             span ⭐
                                             span ⭐
                                             span ⭐
                                             span ⭐
                                        span(class="ml-[8px] text-[12px] sm:text-[10px] text-gray-500") 4.5/5
                                   div(class="inline-flex flex-wrap gap-x-[16px] mt-[6px]")
                                        sl-format-number(class="text-[20px] sm:text-[18px] font-[500] text-[#000000]" value=(it.priceNew ? it.priceNew : '') type="currency" currency="VND" lang="vi-VI")
                                        - if(it.discount != 0)
                                             sl-format-number(value=(it.price ? it.price : '') class="text-[14px] sm:text-[18px] font-[500] text-[#00000066] line-through flex items-center" type="currency" currency="VND" lang="vi-VI")
                                             span(class="w-[50px] h-[24px] text-[#FF3333] text-[10px] font-[500] bg-[#FF33331A] rounded-[50px] flex items-center justify-center")
                                                  | -#{it.discount ? it.discount : ''}%


     div(class="pt-[60px]") 
          div(class="container")
               div(class="flex justify-center") 
                    a(href=`${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.INDEX}` class="px-[71px] py-[16px] inline sm:w-full  mx-auto border-[1px] border-[#0000001A] rounded-[62px] text-[16px] text-center " onclick="showLoader()")
                         | Xem thêm
     div(class="container")
          div(class="w-fit text-[48px] my-[60px] mx-auto text-center")
               | Đang bán chạy
     div(class="container grid grid-cols-4 gap-[20px] xl:grid-cols-3 xl:place-items-stretch md:grid-cols-2 md:place-items-stretch")
          // Item 1
          div(class="bg-none")
               img(src="/client/images/home/t-shirt.png" alt="T-shirt" class="w-full aspect-square object-cover rounded-[16px]")
               h3(class="text-[18px] sm:text-[16px] text-[#000000] font-[500] mt-[12px] mb-[6px] md:text-[16px]")
                    | T-shirt with Tape Details
               div(class="flex items-center mb-[6px]")
                    div(class="text-yellow-500 flex space-x-[2px]")
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                    span(class="ml-[8px] text-[12px] sm:text-[10px] text-gray-500") 4.5/5
               p(class="text-[20px] sm:text-[18px] font-[500] text-[#000000] mt-[8px] md:text-[20px]") 120.000đ
          // Item 2
          div(class="bg-none]")
               img(src="/client/images/home/jeans.png" alt="Jeans" class="w-full object-cover aspect-square rounded-[16px]")
               h3(class="text-[18px] sm:text-[16px] text-[#000000] font-[500] mt-[12px] mb-[6px] md:text-[16px]")
                    | Skinny Fit Jeans
               div(class="flex items-center mb-[6px]")
                    div(class="text-yellow-500 flex space-x-[2px]")
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                         span(class="text-gray-400") ⭐
                    span(class="ml-[8px] text-[12px] sm:text-[10px] text-gray-500") 3.5/5
               div(class="inline-flex flex-wrap gap-x-[16px] mt-[6px]")
                    p(class="text-[20px] sm:text-[18px] font-[500] text-[#000000]") 240.000đ
                    p(class="text-[20px] sm:text-[18px] font-[500] text-[#00000066] line-through") 260.000đ
                    span(class="w-[50px] h-[24px] text-[#FF3333] text-[10px] font-[500] bg-[#FF33331A] rounded-[50px] flex items-center justify-center")
                         | -20%
          // Item 3
          div(class="bg-none")
               img(src="/client/images/home/t-shirt.png" alt="T-shirt" class="w-full object-cover aspect-square rounded-[16px]")
               h3(class="text-[18px] sm:text-[16px] text-[#000000] font-[500] mt-[12px] mb-[6px] md:text-[16px]")
                    | T-shirt with Tape Details
               div(class="flex items-center mb-[6px]")
                    div(class="text-yellow-500 flex space-x-[2px]")
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                    span(class="ml-[8px] text-[12px] sm:text-[10px] text-gray-500") 4.5/5
               p(class="text-[20px] sm:text-[18px] font-[500] text-[#000000] mt-[8px]") 120.000đ
          // Item 4
          div(class="bg-none")
               img(src="/client/images/home/jeans.png" alt="Jeans" class="w-full object-cover aspect-square rounded-[16px]")
               h3(class="text-[18px] sm:text-[16px] text-[#000000] font-[500] mt-[12px] mb-[6px] md:text-[16px]")
                    | Skinny Fit Jeans
               div(class="flex items-center mb-[6px]")
                    div(class="text-yellow-500 flex space-x-[2px]")
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                         span(class="text-gray-400") ⭐
                    span(class="ml-[8px] text-[12px] sm:text-[10px] text-gray-500") 3.5/5
               div(class="inline-flex flex-wrap gap-x-[16px] mt-[6px]")
                    p(class="text-[20px] sm:text-[18px] font-[500] text-[#000000]") 240.000đ
                    p(class="text-[20px] sm:text-[18px] font-[500] text-[#00000066] line-through") 260.000đ
                    span(class="w-[50px] h-[24px] text-[#FF3333] text-[10px] font-[500] bg-[#FF33331A] rounded-[50px] flex items-center justify-center")
                         | -20%
     div(class="container overflow-hidden")
          button(type="button" class="w-[218px] h-[52px] sm:w-full block mx-auto mt-[60px] border-[1px] border-[#0000001A] rounded-[62px] text-[16px] text-center ")
               | Xem tất cả
     div(class="container mt-[60px]")
          div(class="py-[60px] bg-[#F0F0F0] rounded-[40px]")
               div(class="w-fit mx-auto text-center mb-[60px] text-[#000000] text-[48px] font-[700] sm:text-[32px] sm:font-[400]") Danh mục sản phẩm
               div(class="w-[90%] mx-auto grid grid-cols-3 gap-[20px]	sm:grid-cols-1 sm:place-items-stretch")
                    div(class="rounded-[20px] overflow-hidden sm:h-[200px]")
                         img(src="/client/images/home/model1.png" class="size-full object-fill sm:hidden")
                         img(src="/client/images/home/Frame105.png" class="size-full object-fill hidden sm:block")
                    div(class="col-span-2 rounded-[20px] overflow-hidden sm:h-[200px] sm:col-span-1")
                         img(src="/client/images/home/model2.png" class="size-full object-fill sm:hidden ")
                         img(src="/client/images/home/Frame106.png" class="size-full object-fill hidden sm:block")
                    div(class=" col-span-2 rounded-[20px] overflow-hidden sm:h-[200px] sm:col-span-1 ")
                         img(src="/client/images/home/model3.png" class=" size-full object-fill sm:hidden")
                         img(src="/client/images/home/Frame107.png" class="size-full object-fill hidden sm:block")
                    div(class="rounded-[20px] overflow-hidden sm:h-[200px]")
                         img(src="/client/images/home/model4.png" class="size-full object-fill sm:hidden ")
                         img(src="/client/images/home/Frame108.png" class="size-full object-fill hidden sm:block")
     div(class="container pt-[87px] pb-[40px] flex items-center justify-between")
          div(class="text-[#000000] font-[400] text-[48px] md:text-[32px] ") Cảm nhận của khách hàng
          div(class="inline-flex items-center gap-x-[20px]")
               button(type="button" class="w-fit")
                    i(class="fa-solid fa-arrow-left text-[24px] sm:text-[20px]")
               button(type="button" class="w-fit")
                    i(class="fa-solid fa-arrow-right text-[24px] sm:text-[20px]")
     div(class="container flex flex-row justify-between items-center md:flex-rows-2")
          div(class="w-[400px] h-[204px] flex items-center justify-center border-[1px] rounded-[20px]")
               div(class="w-[336px] h-[183px] py-0 ")
                    div
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                    div(class="flex items-center gap-x-[4px]")
                         div(class="text-[20px] font-[400]") Trần Kim Quang
                         img(src="/client/images/home/vector2.png" class="size-[19px]")
                    div(class="text-[#00000099] text-[16px] font-[400]")
                         | &quot;Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ DACS. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi.&quot;
          div(class="w-[400px] h-[204px] flex items-center justify-center border-[1px] rounded-[20px]")
               div(class="w-[336px] h-[183px] py-0 ")
                    div
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                    div(class="flex items-center gap-x-[4px]")
                         div(class="text-[20px] font-[400]") Trần Kim Quang
                         img(src="/client/images/home/vector2.png" class="size-[19px]")
                    div(class="text-[#00000099] text-[16px] font-[400]")
                         | &quot;Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ DACS. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi.&quot;
          div(class="w-[400px] h-[204px] flex items-center justify-center border-[1px] rounded-[20px]")
               div(class="w-[336px] h-[183px] py-0 ")
                    div
                         span ⭐
                         span ⭐
                         span ⭐
                         span ⭐
                    div(class="flex items-center gap-x-[4px]")
                         div(class="text-[20px] font-[400]") Trần Kim Quang
                         img(src="/client/images/home/vector2.png" class="size-[19px]")
                    div(class="text-[#00000099] text-[16px] font-[400]")
                         | &quot;Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ DACS. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi.&quot;
