extends ../../layouts/layouts.pug

block css
    link(rel="stylesheet" href="/client/css/carts/index.css")
block script
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js") 
    script(type='module' src="/client/js/checkouts/success.js" async) 

block main
    - if(INFOR_CUSTOMER.id == order.inforCustomer.customerId)
        div(class=`py-[20px] bg-transparent`)
            div(class=`container`)
                sl-breadcrumb
                    sl-breadcrumb-item(href='/')
                        sl-icon(slot="prefix" name="house")
                        | Trang chủ
                    sl-breadcrumb-item() Thanh toán thành công
                    sl-breadcrumb-item() Đơn hàng #{order.id}

        div
            div(class=`container`) 
                div(class=`flex items-center gap-x-[10px]`)
                    h1(class="text-xl font-medium text-[40px]") Thanh toán thành công
                    div(class=`text-[black]/40`) (#{order.inforProductItem ? order.inforProductItem.length : 0} sản phẩm)
                - if(order.inforProductItem && order.inforProductItem.length > 0)
                    div(class="gap-x-[20px] grid grid-cols-12 py-[20px]")
                        div(class="col-span-8 rounded-[20px] px-[24px] py-[20px] border-[1px] border-[#0000001A] h-max")

                            h2(class="text-lg font-medium mb-6") Thông tin khách hàng
                            div(class="flex flex-col gap-y-[15px]")
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='person' slot="prefix")
                                        div(class=``) Họ và tên khách hàng
                                    div(class=`col-span-2 font-bold`) #{order.inforCustomer.fullname}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='envelope' slot="prefix")
                                        div(class=``) Email khách hàng
                                    div(class=`col-span-2 font-bold`) #{order.inforCustomer.email}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='telephone-outbound' slot="prefix")
                                        div(class=``) Số điện thoại khách hàng
                                    div(class=`col-span-2 font-bold`) #{order.inforCustomer.phone}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='house-heart' slot="prefix")
                                        div(class=``) Địa chỉ giao hàng
                                    div(class=`col-span-2 font-bold`)
                                        div#address(city = order.inforCustomer.city district = order.inforCustomer.district ward = order.inforCustomer.ward) #{order.inforCustomer.address}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='pen' slot="prefix")
                                        div(class=``) Ghi chú
                                    div(class=`col-span-2 font-bold`)
                                        div #{order.inforCustomer.note}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='code-slash' slot="prefix")
                                        div(class=``) Mã đơn hàng
                                    div(class=`col-span-2 font-bold`)
                                        div(class='flex justify-between')
                                            div(class='uppercase') #{order.id}
                                            sl-copy-button(value=order.id feedback-duration="250")
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name=(order.method == 'transfer' ? 'credit-card' : 'cash-stack') slot="prefix")
                                        div(class=``) Phương thức thanh toán
                                    div(class=`col-span-2 font-bold`)
                                        div #{order.method == 'transfer' ? 'Chuyển khoản' : 'Tiền mặt'}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='credit-card' slot="prefix")
                                        div(class=``) Tình trạng thanh toán
                                    div(class=`col-span-2 font-bold`)
                                        div #{order.statusPay == STATUS_PAY.PAY_SUCCESS ? 'Thanh toán thành công' : 'Chưa thanh toán'}
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='diagram-3')
                                        div(class=``) Tình trạng đơn hàng
                                    div(class=`col-span-2 font-bold`)
                                        - if(order.status == STATUS_ORDER.WAIT_CONFIRMATION)
                                            sl-badge Chờ xác nhận
                                        - else if(order.status == STATUS_ORDER.WAIT_PICK_UP_GOODS)
                                            sl-badge Chờ lấy hàng
                                        - else if(order.status == STATUS_ORDER.IN_TRANSIT)
                                            sl-badge Đang giao hàng
                                        - else if(order.status == STATUS_ORDER.IN_TRANSIT)
                                            sl-badge Đã giao hàng
                                        - else if(order.status == STATUS_ORDER.DELIVERY_FAILED)
                                            sl-badge Giao hàng thất bại
                                        - else if(order.status == STATUS_ORDER.RETURNING)
                                            sl-badge Đang hoàn trả
                                        - else if(order.status == STATUS_ORDER.RETURNED)
                                            sl-badge Đã hoàn trả
                                        - else if(order.status == STATUS_ORDER.CANCELLED)
                                            sl-badge Đã hủy
                                        - else if(order.status == STATUS_ORDER.COMPLETED)
                                            sl-badge Hoàn thành

                                - if(order.method == 'transfer')
                                    div(class=`grid grid-cols-3`) 
                                        div(class=`flex items-center gap-x-[10px]`) 
                                            sl-icon(name='code' slot="prefix")
                                            div(class=``) Mã giao dịch
                                        div(class=`col-span-2 font-bold`)
                                            div #{order.inforTransfer.transactionCode}
                                    div(class=`grid grid-cols-3`) 
                                        div(class=`flex items-center gap-x-[10px]`) 
                                            sl-icon(name='coin' slot="prefix")
                                            div(class=``) Số tiền đã chuyển
                                        div(class=`col-span-2 font-bold`)
                                            sl-format-number(class="text-lg" type="currency" currency="VND" value=order.inforTransfer.price lang="vi" class=`font-bold text-[red]`)
                                    div(class=`grid grid-cols-3`) 
                                        div(class=`flex items-center gap-x-[10px]`) 
                                            sl-icon(name='clock' slot="prefix")
                                            div(class=``) Thời gian chuyển khoản
                                        div(class=`col-span-2 font-bold`)
                                            sl-format-date(lang="vi" hour="numeric" minute="numeric" hour-format="12" date=order.inforTransfer.time) 
                                            sl-format-date(lang="vi" date=order.inforTransfer.time) 
                                div(class=`grid grid-cols-3`) 
                                    div(class=`flex items-center gap-x-[10px]`) 
                                        sl-icon(name='qr-code-scan' slot="prefix")
                                        div(class=``) Mã QR đơn hàng
                                    div(class=`col-span-1 font-bold` qr-code-order)
                                        //- sl-qr-code(qr-code-order radius="0.5" size="100")
                                    div(class=`flex items-center gap-x-[10px] justify-end` copy-qr-code) 
                                        sl-tooltip(content="Tải Mã QR đơn hàng")
                                            sl-button(download=`Đơn hàng ${order.id}.png` circle size='small')
                                                sl-icon(name='arrow-down')
                                        //- sl-copy-button(copy-qr-code  copy-label="Sao chéo hình ảnh" success-label="Đã sao chép!" error-label="Lỗi sao chép, xin lỗi vì điều bất tiện này!")

                        div(class="col-span-4 flex flex-col gap-y-[20px] overflow-y-auto ")
                            div(class=`flex-1 py-[20px] px-[24px] rounded-[20px] border-[1px] border-[#0000001A] flex flex-col gap-y-[24px]`)
                                div(class=`flex items-center gap-x-[10px] mb-6`) 
                                    h2(class="text-lg font-medium") Thông tin đơn hàng
                                    sl-badge(variant="warning" pill pulse) #{order.inforProductItem ? order.inforProductItem.length : 0}
                                div(class="space-y-4 mb-6")
                                    div(class="flex justify-between")
                                        span Tổng cộng
                                        sl-format-number(class="text-lg" type="currency" currency="VND" value=order.inforProductItem.totalPrice lang="vi")
                                    //- div(class="flex justify-between text-red-500")
                                        span Giảm giá (-20%)
                                        span -113.000đ
                                    div(class="flex justify-between")
                                        span Phí giao hàng
                                        - if(order.inforProductItem.totalPrice >= 500000)
                                            span Miễn Phí
                                        - else
                                            sl-format-number(class="text-lg" type="currency" currency="VND" value='20000' lang="vi")

                                    div(class="flex justify-between text-lg font-medium pt-4 border-t")
                                        span Thành tiền
                                        - if(order.inforProductItem.totalPrice >= 500000)
                                            sl-format-number(class="text-lg" type="currency" currency="VND" value=order.inforProductItem.totalPrice lang="vi" class=`font-bold text-[#ff2c26]`)
                                        - else
                                            sl-format-number(class="text-lg" type="currency" currency="VND" value=order.inforProductItem.totalPrice + 20000 lang="vi" class=`font-bold text-[#ff2c26]`)
                                //- div(class="flex gap-2 bg-gray-50 rounded-lg p-2 mb-4")
                                    input(type="text" placeholder="Thêm mã khuyến mại" class="bg-transparent w-full outline-none px-2")
                                    button(class="bg-black text-white px-4 py-2 rounded-lg") Áp dụng
                                //- div(btn-submit=`${ROUTERS.CLIENT.CHECKOUT.PATH}${ROUTERS.CLIENT.CHECKOUT.INDEX}/${INFOR_CUSTOMER.username}` redirect=`${ROUTERS.CLIENT.CHECKOUT.PATH}${ROUTERS.CLIENT.CHECKOUT.SUCCESS}/${INFOR_CUSTOMER.username}` class="w-full bg-black text-white py-3 rounded-lg" class=`w-full block text-center`) Xác nhận đơn hàng


                            div(class=`flex-1 py-[20px] px-[24px] rounded-[20px] border-[1px] border-[#0000001A] flex flex-col gap-y-[24px]`) 
                                each it in order.inforProductItem
                                    div(class="flex items-center justify-between bg-white relative" cart-id =  it.id)
                                        div(class="grid grid-cols-12 gap-x-[10px]")
                                            div(class=`col-span-3`) 
                                                img(src=it.image title = it.product_name class=`w-full h-auto rounded-[10px]`)
                                            div(class=`col-span-9 flex flex-col gap-y-[10px]`)
                                                div(href=`${ROUTERS.CLIENT.PRODUCT.PATH}${ROUTERS.CLIENT.PRODUCT.DETAIL}/${it.slug}`) 
                                                    h3(class="text-[15px]") #{it.product_name}
                                                p(class="text-gray-500 text-sm") Kích thước: #{it.product_size}
                                                p(class="text-gray-500 text-sm") Màu: #{it.product_color}
                                                div(class=`flex gap-x-[5px] items-center text-[12px]`) 
                                                    div(class="flex items-center")
                                                        span #{it.quantity}
                                                    div x
                                                    sl-format-number(class="text-lg" type="currency" currency="VND" value=it.price lang="vi" class=`text-[12px]`)
                                                    div #{'='}
                                                    sl-format-number(class="text-lg" type="currency" currency="VND" value=it.priceNew lang="vi" class=`font-bold`)
